

.popup{
    position:fixed;
    top: 0%;
    height: 100vh;
    width: 100vw;
    left: 0%;
    backdrop-filter:blur(10px);
}

.popup-wrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 9px;
    height:30vh;
    width: 80vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 30px;
    box-shadow: 10px 10px  15px 5px rgba(0, 0, 0, 0.3);
}

.popup-wrapper >p{
  font-size:16px;
  font-family: "poppins";
  font-weight: 300;
  letter-spacing: 0.3px;



}

.popup-wrapper > div{
      display: flex;
       gap: 20px;
       justify-content: center;
       padding: 20px 0px;
       padding-bottom: 10px;
}


.popup-wrapper>div >button{
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: "poppins";
}

.yesbtn{
    background: linear-gradient(90deg, #3a7bd5, #00d2ff);
    color: #ffffff;
    font-size: 16px;
    border: none;

}
.nobtn{
    border: 1.5px solid #3a7bd5;
    background-color: #ffffff;
    color: #3a7bd5;
    font-size: 16px;
}

@media(max-width:365px){
    .popup-wrapper >p{
        font-size:14px;
        
      }
}



.initialpopup{
  position:fixed;
    top: 0%;
    height: 100vh;
    width: 100vw;
    left: 0%;
    backdrop-filter:blur(10px);

}

.initialpopup-wrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 9px;
    height:60vh;
    width: 90vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 30px;
    box-shadow: 10px 10px  15px 5px rgba(0, 0, 0, 0.3);
}

.initialpopup-wrapper >ul >li {
  margin-bottom: 10px;
  
}

.xmark {
  color: #00d2ff;
 position: fixed;
  right:20px;           /* Move to the right edge of the viewport */
  top: 20px;
  font-size: 30px;
  color:#3a7bd5;   
}